<mat-toolbar color="primary">
  <span><a routerLink="/">Post Publication</a></span>
  <ul>
    <li><a routerLink="calendar">
      <button mat-stroked-button>Calendar</button>
    </a></li>
    <li><a routerLink="workflow">
      <button mat-stroked-button>Workflow</button>
    </a></li>
    <li><a routerLink="notification">
      <button mat-stroked-button>Notification</button>
    </a></li>
    <li><a routerLink="poc-react">
      <button mat-stroked-button>React WC</button>
    </a></li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
